/* top header */
.flexRow--top-header{
    height: 45px;
}
.flexRowContent--top-header {
    background: #371754; 
    height: 45px;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
    padding: 0;
}
.flexRow--main-header{
    background-color:  #552184;
    height: 80px;
}
.flexRowContent--main-header {
    height: 80px;
    display: flex;
    align-items: flex-end;
}
.flexRow--menu-header {
    background-color: #ffffff;
    padding-top: 1rem;
    display: flex;
    align-items: end;
    height: 50px;
    border-top: 3px solid rgb(210,228,0);
}

.flexRowContent--menu-header {
    height: 40px;
}
/* fin top header */


